table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}
body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #B5000D;
}
form {
    width: 50%;
    margin: 0 auto;
}


label {
    display: block;
    margin-top: 10px;
    filter: none;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    filter: none;
}

input[type="submit"] {
    background-color: #B5000D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    filter: none;
}

input[type="submit"]:hover {
    background-color: #93000A;
    filter: none;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #B5000D;
    color: #fff;
}

h3 {
    color: #B5000D;
}


a {
    text-decoration: none;
    color: #B5000D;
}

a:hover {
    text-decoration: underline;
}

#background-image {
    background-image: url('blood4.png');
    background-size: cover;
    height: 100vh; 
    padding: 20px;
}
